<p>
    <span class="heading">Summary by Week</span>
</p>
<div class="form1">
    <p>
        <% form_for :month, :url => { :action => :index } do |form| %>
        <fieldset>
            <legend>
                <span class="title1">Please Select a Month</span>
            </legend>
            <p>
                <%= form.label :month, "Month:" %>
                <%= form.select :month, @months, :prompt => "Select Month" %>
            </p>
            <p>
                <%= submit_tag "Submit" , :class => "submit" %>
            </p>
        </fieldset>
        <br/>
        <% end %>
    </p>
</div>
<div id="results"<% if @monthID.nil? %> style="display: none"<% end %> ><% if !@monthID.nil? %>
    <center>
    <p>
        <span class="title1">Total Stats for <%= sprintf("%s", @monthSelected) %></span>
    </p>
    <p>
        <%= render :partial => "total" %>
        <br/>
    </p>
    <p>
        <span class="title1">Total Stats by Week</span>
    </p>
    <p>
        <% @region_id = national_region %>
        <%= render :partial => "total_by_region" %>
        <br/>
    </p>
    <p>
        <span class="title1">Ontario and Atlantic Stats by Week</span>
    </p>
    <p>
        <% @region_id = oa_region %>
        <%= render :partial => "total_by_region" %>
        <br/>
    </p>
    <p>
        <span class="title1">West Stats by Week</span>
    </p>
    <p>
        <% @region_id = west_region %>
        <%= render :partial => "total_by_region" %>
        <br/>
    </p>
    <p>
        <span class="title1">Quebec Stats by Week</span>
    </p>
    <p>
    <% @region_id = quebec_region %>
    <%= render :partial => "total_by_region" %>
    <br/>
    </center>
</p>
<% end %>
</div>
<p>
    <span class="text"><a href="/stats">Go Back</a></span>
</p>
