<p>
    <span class="heading">Regional Ministry Summary</span>
</p>
<div class="form1">
    <p>
        <% form_for :region, :url => { :action => :index } do |form| %>
        <fieldset>
            <legend>
                <span class="title1">Please Select a Semester and Region</span>
            </legend>
            <p>
                <%= form.label :semester, "Semester:" %>
                <%= form.select( :semester, @semesters, :prompt => "Select Semester", :selected => @curSemester ) %>
            </p>
            <p>
                <%= form.label :region, "Region:" %>
                <%= form.select :region, @regions, :prompt => "Select Region" %>
            </p>
            <p>
                <%= submit_tag "Submit" , :class => "submit" %>
            </p>
        </fieldset>
        <br/>
        <% end %>
    </p>
</div>
<div id="results" align="center"<% if @regionID.nil? %> style="display: none"<% end %> ><% if !@regionID.nil? %>
    <p>
        <span class="title1">Stats for <%= sprintf("%s", @regionSelected) %> during <%= sprintf("%s", @semesterSelected) %></span>
    </p>
    <p>
        <%= render :partial => "total" %>
        <br/>
    </p>
    <% end %>
</div>
<p>
    <span class="text"><a href="/stats">Go Back</a></span>
</p>
