<p>
    <span class="heading">Summary by Campus</span>
</p>
<div class="form1">
    <p>
        <% form_for :campus, :url => { :action => :index } do |form| %>
        <fieldset>
            <legend>
                <span class="title1">Please Select a Campus and Month</span>
            </legend>
            <p>
                <%= form.label :month, "Month:" %>
                <%= form.select( :month, @months, :prompt => "Select Month", :selected => @curMonth ) %>
            </p>
            <p>
                <%= form.label :campus, "Campus:" %>
                <%= form.select :campus, @campuses, :prompt => "Select Campus" %>
            </p>
            <p>
                <%= submit_tag "Submit" , :class => "submit" %>
            </p>
        </fieldset>
        <br/>
        <% end %>
    </p>
</div>
<div id="results" align="center"<% if @monthID.nil? %> style="display: none"<% end %> ><% if !@monthID.nil? %>
    <p>
        <span class="title1">Stats for <%= sprintf("%s", @campusSelected) %> during <%= sprintf("%s", @monthSelected) %></span>
    </p>
    <p>
        <%= render :partial => "total" %>
    </p>
    <% end %>
</div>
<p>
    <span class="text"><a href="/stats">Go Back</a></span>
</p>
