<table class="t1">
    <tr>
        <td class="t2">
        </td>
        <td>
            <span class="title1">Ontario and Atlantic</span>
        </td>
        <td>
            <span class="title1">West</span>
        </td>
        <td>
            <span class="title1">Quebec</span>
        </td>
        <td>
            <span class="title1">National Total</span>
        </td>
    </tr>
    <tr>
        <td>
            Spiritual Conversations by Staff
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_spconv_semester(@semesterID,oa_region) %>
            </center>
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_spconv_semester(@semesterID,west_region) %>
            </center>
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_spconv_semester(@semesterID,quebec_region) %>
            </center>
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_spconv_semester(@semesterID,national_region) %>
            </center>
        </td>
    </tr>
    <tr>
        <td>
            Spiritual Conversations by Students
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_spconvstd_semester(@semesterID,oa_region) %>
            </center>
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_spconvstd_semester(@semesterID,west_region) %>
            </center>
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_spconvstd_semester(@semesterID,quebec_region) %>
            </center>
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_spconvstd_semester(@semesterID,national_region) %>
            </center>
        </td>
    </tr>
    <tr>
        <td>
            Gospel Presentations by Staff
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_gospres_semester(@semesterID,oa_region) %>
            </center>
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_gospres_semester(@semesterID,west_region) %>
            </center>
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_gospres_semester(@semesterID,quebec_region) %>
            </center>
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_gospres_semester(@semesterID,national_region) %>
            </center>
        </td>
    </tr>
    <tr>
        <td>
            Gospel Presentations by Students
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_gospresstd_semester(@semesterID,oa_region) %>
            </center>
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_gospresstd_semester(@semesterID,west_region) %>
            </center>
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_gospresstd_semester(@semesterID,quebec_region) %>
            </center>
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_gospresstd_semester(@semesterID,national_region) %>
            </center>
        </td>
    </tr>
    <tr>
        <td>
            Holy Spirit Presentations by Staff
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_hspres_semester(@semesterID,oa_region) %>
            </center>
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_hspres_semester(@semesterID,west_region) %>
            </center>
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_hspres_semester(@semesterID,quebec_region) %>
            </center>
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsWeeklyreport.find_total_hspres_semester(@semesterID,national_region) %>
            </center>
        </td>
    </tr>
    <tr>
        <td>
            <br/>
            Indicated Decisions
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsPrc.count_by_semester(@semesterID,oa_region) %>
            </center>
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsPrc.count_by_semester(@semesterID,west_region) %>
            </center>
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsPrc.count_by_semester(@semesterID,quebec_region) %>
            </center>
        </td>
        <td>
            <center>
                <%= sprintf "%s", CimStatsPrc.count_by_semester(@semesterID,national_region) %>
            </center>
        </td>
    </tr>
</table>
