<p>
    <span class="heading">Summary by Month</span>
</p>
<% form_for :semester, :url => { :action => :index } do |form| %>
<fieldset>
    <legend>
        <span class="title1">Please Select a Semester</span>
    </legend>
    <p>
        <%= form.label :semester, "Semester:" %>
        <%= form.select :semester, @semesters, :prompt => "Select Semester" %>
    </p>
    <p>
        <%= submit_tag "Submit" , :class => "submit" %>
    </p>
</fieldset>
<% end %>
</p>
<div id="results"<% if @semesterID.nil? %> style="display: none"<% end %> >
<% if !@semesterID.nil? %>
    <center>
    <p>
        <span class="title1">Total Stats for <%= sprintf("%s", @semesterSelected) %></span>
    </p>
    <p>
        <%= render :partial => "total" %>
    </p>
    <p>
        <span class="title1">Total Stats by Month</span>
    </p>
    <p>
        <% @region_id = national_region %>
        <%= render :partial => "total_by_region" %>
    </p>
    <p>
        <span class="title1">Ontario and Atlantic Stats by Month</span>
    </p>
    <p>
        <% @region_id = oa_region %>
        <%= render :partial => "total_by_region" %>
    </p>
    <p>
        <span class="title1">West Stats by Month</span>
    </p>
    <p>
        <% @region_id = west_region %>
        <%= render :partial => "total_by_region" %>
    </p>
    <p>
        <span class="title1">Quebec Stats by Month</span>
    </p>
    <p>
    <% @region_id = quebec_region %>
    <%= render :partial => "total_by_region" %>
    </center>
	</p>
<% end %>
</div>
<p>
    <span class="text"><a href="/stats">Go Back</a></span>
</p>
